@use "sass:color";

html.theme-light {
	--background-color: whitesmoke;

	--sidebar-background-color: white;
	--sidebar-item-background-color: transparent;
	--sidebar-item-hover-background-color: #{rgba(springgreen, 40%)};

	--docview-background-color: white;
	--docview-heading-border-color: lightgray;
	--docview-blockquote-border-color: #{darken(springgreen, 10%)};
	--docview-blockquote-background-color: #{rgba(springgreen, 10%)};
	--docview-code-background-color: #{lighten(black, 95%)};
	--docview-pre-background-color: #{lighten(black, 95%)};
	--docview-link-color: dodgerblue;
	--docview-link-hover-color: #{darken(dodgerblue, 20%)};
	--docview-title-background-color: white;
	--docview-title-border-color: lightgray;
	--docview-title-color: black;

	--shadow-color: rgba(0, 0, 0, 0.2);

	--app-scrollbar-background-color: transparent;
	--app-scrollbar-hover-background-color: #{rgba(black, 10%)};
	--app-scrollbar-opacity: 1;
	--app-scrollbar-thumb-background-color: #{rgba(black, 20%)};
	--app-scrollbar-thumb-hover-background-color: #{rgba(black, 30%)};
	--app-scrollbar-thumb-opacity: 1;
}
